@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../docs/assets/images/street3.png);
  background-size: cover;
  
  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: end;
}

 #start-button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #game-intro {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  
  }

  .hide {
    display: none;
  } 
 
  .arrows-img {
    width: 200px;
  }

  h1 {
    font-size: 5rem;
  }

  #game-board {
    display: none;
    justify-items: end;
    justify-content: end;
 
    padding-top: 100px;
  }

  #restart {
    background-color: black;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 30%;
    right: 30%;
    bottom: 30%;
    top: 30%;
    margin: 50px;
    padding:10px;
  }

  #restart h2 {
    color: #870007;
    font-family: "Press Start 2P";
  }

  #restart-button {
    font-size: 25px;
    background-color: #870007;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .hidden{
    display: none;
  }