@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@-webkit-keyframes animacao2 { from {-webkit-transform: scale(1);} 
 to {-webkit-transform: scale(1.2);} }

@-moz-keyframes animacao2 { from {-moz-transform: scale(1);} 
 to {-moz-transform: scale(1.1);} }

@keyframes animacao2 { from {transform: scale(1);} 
 to {transform: scale(1.1);} }

 .shroom {
  filter: saturate(2);
} 
 
body, html {
  font-family: "Press Start 2P";
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  background-image: url("../docs/assets/images/sky.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; 
  margin: 0
}

#canvas {
  width: 100vw;
}

 #start-button {
    font-size: 30px;
    background-color: black;
    color: #ffd300;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Press Start 2P";
  }

  #game-intro p {
    line-height: 1.6rem;
  }

  #game-intro p span {
    color: #ffd300;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  }

  .arrows-img {
    width: 200px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 5rem;
  }

  #restart {
    background-color: black;
    height: 300px;
    width: 550px;
    position: absolute;
    bottom: 30%;
    top: 30%;
    padding:40px;
    border-radius: 40px;
    
  }

  #restart h1 {
    color:#ffd300;
    font-family: "Press Start 2P";
    font-size: 2rem;

  }

  #restart-button {
    font-size: 25px;
    background-color: #ffd300;
    color: black;
    padding: 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    font-family: "Press Start 2P";
  }

  #quit-button {
    font-size: 25px;
    background-color: #ffd300;
    color: black;
    padding: 10px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    font-family: "Press Start 2P";
  }

  .hidden{
    display: none;
  }

  .animation:hover {-webkit-animation-name: animacao2;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function:  linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    
    -moz-animation-name: animacao2;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function:  linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    
    animation-name: animacao2;
    animation-duration: 0.8s;
    animation-timing-function:  linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;}

.size {
  width: 250px;
  height: 50px;
}
